.LoginPage {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 80vh;
  padding-top: 10%;
  background-color: #ede0d4;
}

.LoginTemplate {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 50vh;
  margin: 5%;
  border: 1px solid #ababab;
}

.LoginTemplate > h2 {
  font-size: 2rem;
  text-align: center;
}

#email {
  display: flex;
  width: 80%;
  height: 2.5rem;
  margin: auto;
  justify-content: center;
}

#password {
  display: flex;
  width: 80%;
  height: 2.5rem;
  border: none;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.LoginTemplate > button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  color: white;
  background-color: #7f5539;
  border: none;
  width: 30%;
  height: 8%;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

.LoginTemplate > button:hover {
  background-color: #996537;
}

.LoginTemplate > a {
  font-size: 1rem;
  text-align: center;
  color: black;
}

.RegistrationTamplete {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 50vh;
  margin: 5%;
}

.RegistrationTamplete > h2 {
  font-size: 2rem;
  text-align: center;
}

.RegistrationTamplete > p {
  text-align: center;
  font-size: 1.3rem;
  margin: 5%;
}

.RegistrationTamplete > button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  color: white;
  background-color: #7f5539;
  border: none;
  width: 44%;
  height: 10%;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

.RegistrationTamplete > button:hover {
  background-color: #996537;
}

@media screen and (max-width: 1440px) {
  .RegistrationTamplete > button {
    width: 55%;
  }
}

@media screen and (max-width: 1024px) {
  .LoginPage {
    min-height: 60vh;
    padding-top: 15%;
  }

  .LoginTemplate {
    margin: 1%;
  }

  #email {
    width: 90%;
    height: 2rem;
  }

  #password {
    width: 90%;
    height: 2rem;
  }

  .LoginTemplate > button {
    width: 40%;
    height: 7%;
    font-size: 1.2rem;
  }

  .LoginTemplate > a {
    font-size: 0.9rem;
  }

  .RegistrationTamplete {
    width: 55%;
    margin: 1%;
  }

  .RegistrationTamplete > p {
    font-size: 1.1rem;
  }

  .RegistrationTamplete > button {
    width: 50%;
    height: 8%;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .RegistrationTamplete > p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .LoginPage {
    flex-direction: column;
    padding-top: 30%;
  }

  .LoginTemplate {
    width: 90%;
    height: 40vh;
    margin: auto;
  }

  .LoginTemplate > button {
    width: 40%;
    height: 9%;
    font-size: 1.2rem;
  }

  .RegistrationTamplete {
    width: 90%;
    margin: 10% auto;
  }

  .RegistrationTamplete > p {
    font-size: 1.1rem;
  }

  .RegistrationTamplete > button {
    width: 70%;
    height: 9%;
    font-size: 1.2rem;
  }
}
