.HomeContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.Banner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Banner > img {
  width: 100%;
  height: 100%;
  position: static;
}

.BannerContent {
  width: 50%;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  position: absolute;
  left: 9%;
}

.BannerContent > h1 {
  font-size: 100px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.BannerContent > span {
  width: 59%;
  margin: 0;
  display: block;
}

.BannerContent > span > p {
  width: 100%;
  margin: 0;
}

.BannerContent > p {
  width: 59%;
}

.ButtonHome {
  background-color: #B08968;
  color: white;
  width: 370px;
  height: 70px;
  text-align: center;
  font-weight: 700;
  font-size: 18.5px;
  border: none;
  margin-top: 25px;
}

.NextBanner {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
}

.NextBanner > div {
  background-color: #686868;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 60px;
}

.NextBanner > div:last-child{
  background-color: #B08968;
}

.MainContent {
  background-color: #EDE0D4;
  position:relative;
  flex-direction: column;
  width: 100vw;
  min-height: 70vh;
}

.MainContent > h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}

.MainContentLatest {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: flex-start;
  margin: auto;
}

.MainContentLatest > div {
  height: 400px;
  width: 240px;
  display: flex;
  flex-direction: column;
}

.MainContentLatest > div > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.MainContentLatest > div > a > img {
  height: 240px;
  width: 240px;
}

.MainContentLatest > div > a > span {
  height: 50px;
  width: 240px;
  margin-top: 15px;
  font-size: 18.5px;
  font-weight: 500;
  text-align: center;
  color: #7F5539;
}

.MainContentLatest > div > p {
  height: 20px;
  width: 240px;
  margin-top: -10px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.MainContentLatest > div > button {
  height: 38px;
  width: 160px;
  color: white;
  align-items: center;
  margin: auto;
  background-color: #7F5539;
  font-size: 12px;
  font-weight: 700;
  border: none;
}

.MainAbout {
  background-color: #EDE0D4;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.MainAbout > img {
  height: 100%;
  width: 70%;
  margin: auto;
  padding-top: 50px;
}

.MainAboutText {
  background-color: #B08968;
  width: 70vw;
  margin: auto;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MainAboutText > h2 {
  height: 50px;
  font-size: 34px;
  font-weight: 700;
}
.MainAboutText > div {
  font-weight: 400;
  font-size: 24px;
  display: block;
  width: 80%;
  margin: 0 auto 50px;
}

@media screen and (max-width: 1440px) {
  .BannerContent {
    height: 45%;
    width: 50%;
    font-size: 1rem;
    left: 5%;
  }

  .BannerContent > h1 {
    font-size: 4rem;
  }

  .ButtonHome {
    width: 300px;
    height: 48px;
    margin-top: 30px;
  }
  
  .NextBanner {
    width: 200px;
  }

  .NextBanner > div {
    width: 22px;
    height: 22px;
    margin-top: 40px;
  }

  .MainContent {
    min-height: 110vh;
  }
  
  .MainContentLatest {
    width: 97%;
  }

  .MainAbout > img {
    padding-top: 50px;
    width: 80vw;
  }
  
  .MainAboutText {
    width: 80vw;
  }
}

@media screen and (max-width: 1024px) {
  .BannerContent {
    height: 29%;
    width: 55%;
    font-size: 0.8rem;
    left: 3%;
  }

  .BannerContent > h1 {
    font-size: 3.1rem;
  }

  .ButtonHome {
    width: 220px;
    height: 40px;
    font-size: 14px;
    margin-top: 15px;
  }

  .NextBanner {
    width: 140px;
  }
  
  .NextBanner > div {
    margin-top: 30px;
    width: 18px;
    height: 18px;
  }

  .MainContent {
    min-height: 100vh;
  }

  .MainContent > h2 {
    margin-top: 60px;
  }
  
  .MainContentLatest {
    width: 97%;
  }
  
  .MainContentLatest > div  {
    height: 310px;
    width: 170px;
    padding-bottom: 20px;
  }
  
  .MainContentLatest > div > a {
    height: 220px;
    width: 170px;
  }
  
  .MainContentLatest > div > a > img {
    height: 160px;
    width: 170px;
  }
  
  .MainContentLatest > div > a > span {
    width: 170px;
    margin-top: 7px;
  }
  
  .MainContentLatest > div > p {
    height: 20px;
    width: 170px;
    margin-top: 0;
  }
  
  .MainContentLatest > div > button {
    height: 38px;
    width: 130px;
    font-size: 11px;
    font-weight: 600;
  }

  .MainAbout {
    padding-bottom: 60px;
  }

  .MainAbout > img {
    height: 100%;
    width: 90%;
    margin: auto;
  }

  .MainAboutText {
    width: 90vw;
  }

  .MainAboutText > p {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .BannerContent {
    height: 25%;
    width: 55%;
    font-size: 0.7rem;
    left: 4%;
  }

  .BannerContent > h1 {
    font-size: 2.8rem;
  }

  .ButtonHome {
    width: 180px;
    height: 30px;
    margin-top: 15px;
    font-size: 11px;
  }
  
  .NextBanner {
    width: 120px;
  }

  .NextBanner > div {
    margin-top: 20px;
    width: 14px;
    height: 14px;
  }

  .MainContent {
    min-height: 90vh;
  }

  .MainContent > h2 {
    margin-top: 100px;
  }

  .MainContent > h2:first-child{
    margin-top: 50px;
  }

  .MainContentLatest {
    width: 97%;
  }

  .MainContentLatest > div > a {
    height: 220px;
    width: 160px;
  }
  
  .MainContentLatest > div > a > img {
    height: 160px;
    width: 160px;
  }
  
  .MainContentLatest > div > a > span {
    width: 160px;
    margin-top: 7px;
  }
  
  .MainContentLatest > div > p {
    height: 20px;
    width: 160px;
    margin-top: 0;
  }
  
  .MainContentLatest > div > button {
    height: 38px;
    width: 130px;
    font-size: 11px;
    font-weight: 600;
  }

  .MainAbout {
    padding: 50px 0;
  }
  
  .MainAbout > img {
    width: 90%;
  }
  
  .MainAboutText {
    width: 90vw;
  }
  .MainAboutText > h2 {
    height: 20px;
    font-size: 1.6rem;
  }
  .MainAboutText > p {
    font-size: 1.2rem;
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  .Banner {
    width: 100vw;
    height: 70vh;
    background-color: #7F5539;
    color: white;
  }
  
  .Banner > img {
    display: none;
  }
  
  .BannerContent {
    width: 90%;
    margin: auto;
    font-size: 0.9rem;
    text-align: center;
  }

  .BannerContent > h1 {
    font-size: 3.4rem;
  }

  .BannerContent > span {
    display: block;
    width: 90%;
    margin: auto;
  }

  .BannerContent > p {
    display: block;
    width: 90%;
    margin: auto;  
  }

  .ButtonHome {
    display: none;
  }
  
  .NextBanner {
    display: none;
  }

  .MainContent {
    min-height: 90vh;
  }

  .MainContent > h2 {
    font-size: 2rem;
    margin-top: 80px;
  }

  .MainContent > h2:first-child{
    margin-top: 60px;
  }

  .MainContentLatest {
    width: 97%;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
    align-items: center;
  }

  .MainContentLatest > div {
    height: 500px;
    width: 300px;
    padding: 0;
  }

  .MainContentLatest > div > a {
    height: 350px;
    width: 300px;
  }
  
  .MainContentLatest > div > a > img {
    height: 300px;
    width: 300px;
  }
  
  .MainContentLatest > div > a > span {
    width: 300px;
    font-size: 1.7rem;
    margin-top: 7px;
  }
  
  .MainContentLatest > div > p {
    width: 300px;
    font-size: 1.5rem;
    margin: 0;
  }
  
  .MainContentLatest > div > button {
    height: 40px;
    width: 220px;
    font-size: 1rem;
    font-weight: 600;
  }

  .MainAbout {
    padding: 50px 0;
  }
  
  .MainAbout > img {
    display: none;
    }
  
  .MainAboutText {
    width: 90vw;
  }
  .MainAboutText > h2 {
    height: 20px;
    font-size: 1.6rem;
  }
  .MainAboutText > p {
    font-size: 1.2rem;
    width: 95%;
  }
}