.Product {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 100vw;
  background-color: #FFF8F1;
}

.ProductView {
  display: flex;
  flex-direction: row;
  width: 75vw;
  margin: auto;
}

.ProductView > img {
  display: flex;
  height: 35em;
  width: 35em;
}

.ProductViewDescription {
  display: flex;
  flex-direction: column;
}

.ProductViewDescription > span {
  font-size: 2em;
  font-weight: 600;
  margin-left: 50px;
}

.ProductViewDescription > span > p {
  font-size: 20px;
}

.ProductQuantity {
  display: flex;
}

.BtnQA {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

#PQuantity {
  display: flex;
  border: 1px solid black;
  margin: 50px 20px 50px 50px;
  justify-content: center;
  height: auto;
  width: 100px;
  background-color: white;
}

#PQuantityWanted {
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.BtnQty {
  text-decoration: none;
  color: black;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BtnQtyMinus {
  float: left;
  position: relative;
  text-decoration: none;
  font-size: 28px;
  color: black;
  width: 30px;
  height: 30px;
}

.BtnQtyMinus::after {
  content: '\2212';
  position: absolute;
  top: 0;
  right: 7.8px;
  color: #000;
  line-height: 35px;
  font-weight: 300;
}

.BtnQtyPlus {
  float: left;
  position: relative;
  text-decoration: none;
  font-size: 28px;
  color: black;
  width: 30px;
  height: 30px;
}

.BtnQtyPlus::before {
  content: '\002B';
  position: absolute;
  top: 0;
  left: 7.3px;
  color: #000;
  line-height: 35px;
  font-weight: 300;
}

.BtnAdd {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 250px;
  height: 34px;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  color: white;
  background-color: #7F5539;
  border: none;
  margin: 50px 20px ;
  cursor: pointer;
}

.BtnAdd:hover {
  background-color: #996537;
}

.ProductDescriptionBottom {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 300;
  margin-left: 50px;
}

@media screen and (max-width: 1440px) {
  .ProductView {
    width: 90vw;
  }

  .ProductView > img {
    height: 30em;
    width: 30em;
  }

  #PQuantity {
    margin: 0px 0px 100px 50px;
  }

  .BtnAdd {
    width: 200px;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 20px;
  }

  .ProductDescriptionBottom {
    font-size: 1rem;
    font-weight: 300;
    margin-left: 50px;
    margin-top: -60px;
    margin-right: 3%;
  }
}

@media screen and (max-width: 1024px) {
  .ProductView {
    width: 95vw;
  }

  .ProductView > img {
    height: 25em;
    width: 25em;
  }

  .ProductViewDescription > span {
    font-size: 2em;
    font-weight: 600;
    margin-left: 20px;
  }
  
  .ProductViewDescription > span > p {
    font-size: 20px;
  }

  #PQuantity {
    margin: 0px 0px 100px 20px;
  }

  .BtnAdd {
    width: 200px;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 20px;
  }

  .ProductDescriptionBottom {
    font-size: 1rem;
    font-weight: 300;
    margin-left: 20px;
    margin-top: -60px;
    margin-right: 3%;
  }
}

@media screen and (max-width: 768px) {
  .ProductView {
    width: 95vw;
  }

  .ProductView > img {
    display: flex;
    height: 20em;
    width: 20em;
  }
}

@media screen and (max-width: 700px) {
  .Product {
    height: auto;
  }

  .ProductView {
    height: 100vh;
    width: 98vw;
    flex-direction: column;
  }

  .ProductView > img {
    height: 20em;
    width: 20em;
    margin: auto;
    margin-top: 100px;
  }

  #PQuantity {
    margin: 0px 0px 100px 20px;
  }

  .BtnAdd {
    width: 150px;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0 20px;
  }

  .ProductViewDescription {
    height: 100vh;
  }

  .ProductViewDescription > span {
    font-size: 2em;
    font-weight: 600;
    margin-left: 20px;
    text-align: left;
  }
  
  .ProductViewDescription > span > p {
    font-size: 20px;
  }

  .ProductDescriptionBottom {
    height: auto;
    margin: -90px 0px 0px 5px;
  }
}