.Header {
  width: 100vw;
  height: 86px;
  background-color: white;
  position: fixed;
  z-index: 10;
}

.Navbar {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Logo > a {
  height: 100%;
  width: 86px;
  position: relative;
}

.Logo > a > img {
  height: 120px;
  width: 120px;
  position: absolute;
  top: -14px;
  left: -15px;
}

.Navigation {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.NavLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 85%;
}

.NavLinks > a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: bold;
}

.NavLinks > a:hover {
  background-color: #ede0d4;
}

.NavIcons {
  width: 100px;
  margin-left: 25px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.NavIcons > a {
  text-decoration: none;
  color: black;
}

.NavIcons > a > span {
  font-size: smaller;
}

.Burger {
  display: none;
  font-size: 25px;
}

.Burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

.Menu {
  display: none;
}

@media screen and (max-width: 1440px) {
  .Header {
    height: 80px;
  }

  .Navbar {
    width: 100%;
    margin: 0;
  }

  .Navigation {
    width: 60vw;
  }

  .Logo > img {
    top: -18px;
    left: -15px;
  }

  .NavIcons {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .Header {
    height: 80px;
  }

  .Navbar {
    width: 100%;
    margin: 0;
  }

  .Navigation {
    width: 70vw;
  }

  .Logo > img {
    top: -18px;
    left: -15px;
  }

  .NavIcons {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .Header {
    height: 70px;
  }

  .Logo {
    margin-left: 5px;
  }

  .Logo > img {
    top: -24px;
    left: -17px;
  }

  .Navigation {
    width: 75%;
  }

  .NavIcons {
    margin-right: 10px;
  }
}

@media screen and (max-width: 700px) {
  .Header {
    height: 80px;
    width: 100%;
  }

  .Navbar {
    margin: 0;
    position: relative;
    justify-content: center;
  }

  .Logo {
    margin: 0;
  }

  .Logo > img {
    top: -18px;
  }

  .Navigation {
    position: absolute;
    width: auto;
    right: 25px;
  }

  .NavLinks,
  .NavIcons {
    display: none;
  }

  .Burger {
    display: block;
  }

  .Menu {
    position: absolute;
    width: 100%;
    min-height: 300px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2;
    background-color: white;
    z-index: 10;
    bottom: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Menu > a {
    text-decoration: none;
    color: black;
    background-color: white;
  }

  .Menu a:hover {
    background-color: #ede0d4;
    border-radius: 9px;
    width: 90%;
    text-align: center;
  }
}
