.Products {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
  background-color: #FFF8F1;
}

.LeftBanner {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 150px;
  margin-left: 150px;
}

.FiltrProducts {
  display: flex;
  flex-direction: column;
}

.FiltrProducts > h3 {
  font-size: 16px;
  font-weight: 700;
}

.FiltrProducts h3 > a {
  color: black;
  text-decoration: none;
}

.FiltrProducts > h2 {
  border-bottom: 1px solid black;
  margin-top: 50px;
  font-size: 20px;
}

.FiltrProducts > label {
  font-size: 16px;
  cursor: pointer;
}

.FiltrProductsButton {
  background-color: #7F5539;
  border: none;
  color: white;
  height: 40px;
  width: 250px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.FiltrProductsButton:hover {
    background-color: #996537;
}

.LatestProducts {
  display: flex;
  flex-direction: column;
}

.LatestProducts > h2 {
  margin-top: 50px;
  border-bottom: 1px solid black;
  font-size: 20px;
}

.LatestProductsView {
  display: flex;
  flex-direction: column;
  margin-bottom: 8%;
}

.LatestProductsView > a {
  display: flex;
  text-decoration: none;
  color: black;
}

.LatestProductsView > a > img {
  width: 5rem;
  height: 5rem;
}

.LatestProductsView > a > span {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  flex-direction: column;
  margin-left: 10px;
}

.LatestProductsView > p {
  display: flex;
  font-size: 1rem;
  justify-content: flex-end;
  margin-top: -12%;
  font-weight: 600;
}

.BestsellerProducts > h2 {
  margin-top: 50px;
  border-bottom: 1px solid black;
  font-size: 20px;
}

.BestsellerProductsView {
  display: flex;
  flex-direction: column;
  margin-bottom: 8%;
}

.BestsellerProductsView > a {
  display: flex;
  text-decoration: none;
  color: black;
}

.BestsellerProductsView > a > img {
  width: 5rem;
  height: 5rem;
}

.BestsellerProductsView > a > span {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  flex-direction: column;
  margin-left: 10px;
}

.BestsellerProductsView > p {
  display: flex;
  font-size: 1rem;
  justify-content: flex-end;
  margin-top: -12%;
  font-weight: 600;
}

.MainBanner {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 40px;
  margin-right: 150px;
}

.Description {
  font-size: 16px;
}

.ProductsSorting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
}

#ViewSort > #ViewSortProducts {
  margin-bottom: 40px;
  width: 140px;
  display: block;
  cursor: pointer;
}

#ViewSort > #ViewSortElements {
  margin-bottom: 40px;
  width: 90px;
  display: block;
  cursor: pointer;
}

.MainBannerProductsStructure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 1%;
  justify-content: space-around;

}

.MainBannerProducts {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 230px;
}

.MainBannerProducts > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.MainBannerProducts > a > img {
  width: 230px;
  height: 230px;
}

.MainBannerProducts > a > span {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.MainBannerProducts > p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.MainBannerProducts > button {
  width: 200px;
  height: 40px;
  background-color: #7F5539;
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  border: none;
  margin: 20px auto;
  cursor: pointer;
}

.MainBannerProducts > button:hover {
    background-color: #996537;
}

.MainBannerPageButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 238px;
  height: 32px;
  margin: 30px auto 150px auto;
}

.ProductsPage {
  width: 32px;
  height: 32px;
  background-color: #B7B7B7;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.ProductsPage:first-child {
  background-color: black;
}

@media screen and (max-width: 1440px){
  .LeftBanner {
    margin-top: 10%;
    margin-left: 5%;
  }

  .MainBanner {
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 5%;
  }

  .Description {
    font-size: 1rem;
  }

  .MainBannerProductsStructure {
    gap: 0 1%;
    justify-content: space-around;

  }
}
@media screen and (max-width: 1024px){
  .LeftBanner {
    width: 230px;
    margin-top: 10%;
    margin-left: 2%;
  }

  .FiltrProductsButton {
    height: 38px;
    width: 200px;
  }

  .MainBanner {
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .Description {
    font-size: 1rem;
  }

  .MainBannerProductsStructure {
    gap: 0 1%;
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px){
  .LeftBanner {
    width: 180px;
    margin-top: 10%;
    margin-left: 2%;
  }

  .LatestProducts,
  .BestsellerProducts {
    display: none;
  }

  .FiltrProductsButton {
    background-color: #7F5539;
    border: none;
    color: white;
    height: 35px;
    width: 170px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
  }

  .MainBanner {
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .Description {
    font-size: 0.9rem;
  }

  .MainBannerProductsStructure {
    gap: 0 1%;
  }
}
@media screen and (max-width: 700px){
  .LeftBanner {
    display: none;
  }

  .MainBanner {
    margin-top: 20%;
    margin-left: 4%;
    margin-right: 4%;
  }

  .Description {
    font-size: 1rem;
  }

  .MainBannerProductsStructure {
    justify-content: space-around;
    gap: 0 5%;
  }
}