.Products {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
  background-color: #FFF8F1;
}

.LeftBanner {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin-top: 150px;
  margin-left: 300px;
}

.FiltrProducts {
  display: flex;
  flex-direction: column;
}

.FiltrProducts > h3 {
  font-size: 16px;
  font-weight: 700;
}

.FiltrProducts h3 > a {
  color: black;
  text-decoration: none;
}

.FiltrProducts > h2 {
  border-bottom: 1px solid black;
  margin-top: 50px;
  font-size: 20px;
}

.FiltrProducts > label {
  font-size: 16px;
}

/* TODO: use to style checkbox */
/* .FiltrProducts > label > input {
  width: 20px;
  height: 20px;
} */

.FiltrProductsButton {
  background-color: #7F5539;
  border: none;
  color: white;
  height: 40px;
  width: 250px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
}

.LatestProducts {
  display: flex;
  flex-direction: column;
}

.LatestProducts > h2 {
  margin-top: 50px;
  border-bottom: 1px solid black;
  font-size: 20px;
}

.LatestProductsView {
  display: flex;
  flex-direction: row;
}

.LatestProductsView > img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.LatestProductsView > span {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  flex-direction: column;
  margin-left: 10px;
  width: 145px;
  text-align: left;
}

.LatestProductsView > p {
  font-size: 18px;
  flex-direction: column;
  margin-top: 30px;
}

.BestsellerProducts > h2 {
  margin-top: 50px;
  border-bottom: 1px solid black;
  font-size: 20px;
}

.BestsellerProductsView {
  display: flex;
  flex-direction: row;
}

.BestsellerProductsView > img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.BestsellerProductsView > span {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  flex-direction: column;
  margin-left: 10px;
  width: 145px;
  text-align: left;
}

.BestsellerProductsView > p {
  font-size: 18px;
  flex-direction: column;
  margin-top: 30px;
}

.MainBanner {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 60px;
  margin-right: 300px;
}

.Description {
  font-size: 16px;
}

.ProductsSorting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
}

#ViewSort > #ViewSortElements, #ViewSortProducts {
  margin-bottom: 40px;
  width: 100px;
  display: block;
}

.MainBannerProductsStructure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 28px;
}

.MainBannerProducts {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 230px;
  
}

.MainBannerProducts > img {
  width: 230px;
  height: 230px;
}

.MainBannerProducts > span {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.MainBannerProducts > p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.MainBannerProducts > button {
  width: 200px;
  height: 40px;
  background-color: #7F5539;
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  border: none;
  margin: 20px auto;

}

.MainBannerPageButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 238px;
  height: 32px;
  margin: 30px auto 150px auto;
}

.ProductsPage {
  width: 32px;
  height: 32px;
  background-color: #B7B7B7;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.ProductsPage:first-child {
  background-color: black;
}
